body {
  background: #e9dfda;
  color: #000000;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
}

.bg-steel {
  background-color: #ab9183;
}

.site-header .navbar-nav .nav-link {
  color: #edf2f4;
}

.site-header .navbar-nav .nav-link:hover {
  color: #000000;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #d9b9ac; 
  padding: 10px 20px; 
  border: 1px solid #000000;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #000000;
  text-decoration: none;
  
}

a.article-title:hover {
  color: #000000;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
  
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
 
  
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #000000
}

.article-metadata a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-custom {
  background-color: #e9dfda;
  border-color: rgb(0, 0, 0);
}

.btn-outline-custom {
  border-color: #d9b9ac;
  color: rgb(0, 0, 0);
  text-decoration: underline;
  /*color is text color of button*/
}

.btn-custom:hover, .btn-outline-custom:hover  {
  background-color: #d9b9ac ;
  border-color: rgb(0, 0, 0);
}

.btn-custom:active, .btn-outline-custom:active {
  background-color: #d9b9ac ;
  border:rgb(0, 0, 0);
  box-shadow: none;
}
